---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about.png";

const meta = {
	title: "About",
	description: "About this blog and cyber security",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m a Piyush, Started my Cyber Security blogging Journey !
		</p>
		<div class="flex justfy-center">
			<div style="width:30%">
				<Image
					src={aboutImg}
					alt="A cartoon cactus looking at the 'Astro.build' logo"
					loading="eager"
				/>
			</div>
		</div>
		<p>Here are my some of my reason to start this journey :</p>
		<ul class="list-inside list-disc">
			<li>I'm Interested in Cyber Security</li>
			<li>I want to explore it more</li>
			<li>I'm from IT background and familiar with Linux</li>
			<li>I want to Document my journey in blogging format</li>
		</ul>
		<p>
			Clone or fork this kind of
			<a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like such design !
		</p>
	</div>
</PageLayout>
